<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>
  <body>
    <div id="outer">
      <div id="logo">
        The<br/>Ephraim<br />Homepage
      </div>
      {% include navigation.html %}
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
